<!-- 

    <div *ngIf="showError" class="alert alert-danger" role="alert">
      <span [innerHTML]="errorMessage"></span>
    </div>
    <form [formGroup]="registerForm" autocomplete="off" novalidate (ngSubmit)="registerUser(registerForm.value)">
  <div class="form-group">
    <fieldset>
      <label class="form-label" for="txtFirstName">First Name</label>
      <input class="form-control" input type="text" formControlName="firstName" placeholder="First Name" required="required" id="firstName" >
    </fieldset>
  </div>

  <div class="form-group has-success">
    <label class="form-label mt-4" for="txtLastName">Last Name</label>
    <input type="text" class="form-control" formControlName="lastName"  placeholder="Last Name" id="lastName"  >
  </div>

  <div class="form-group has-danger">
    <label class="form-label mt-4" for="txtEmail">Email Address</label>
    <input type="text" class="form-control" formControlName="email"   placeholder="Email" required="required" id="email">
  </div>

  <div class="form-group">
    <label class="form-label mt-4" for="txtPassword">Password</label>
    <input type="password" class="form-control" formControlName="password"   placeholder="Password" required="required"  id="password" >
  </div>

  <div class="form-group">
    <label class="form-label mt-4" for="txtConfirmPassword">Confirm Password</label>
    <input type="password" class="form-control" formControlName="confirmPassword"  placeholder="Confirm Password" required="required" id="confirmPassword" >
  </div>
  <div class="mb-3 row">
    <div class="col-md-1">          
        <button type="submit" class="btn btn-info" [disabled]="!registerForm.valid">Sign Up</button>
    </div>
</div>
  <div class="hint-text">Already have an account? <a href="#" [routerLink]="['/authentication/login']">Login here</a></div>
</form>
 -->
 <section class="vh-100 bg-image">
 <div class="mask d-flex align-items-center h-100 gradient-custom-3">
   <div class="container h-100">
     <div class="row d-flex justify-content-center align-items-center h-100">
       <div class="col-12 col-md-9 col-lg-7 col-xl-6">
         <div class="card" style="border-radius: 15px;">
           <div class="card-body p-5">
             <h2 class="text-uppercase text-center mb-5">Create an account</h2>

             <form [formGroup]="registerForm" autocomplete="off" novalidate (ngSubmit)="registerUser(registerForm.value)">

               <div class="form-outline mb-4">
                 <input type="text" id="firstName" class="form-control form-control-lg" placeholder="First Name" formControlName="firstName" />
                 <label class="form-label" for="firstName">First Name</label>
               </div>

               <div class="form-outline mb-4">
                 <input type="text" id="lastName" class="form-control form-control-lg" formControlName="lastName"  placeholder="Last Name" id="lastName"/>
                 <label class="form-label" for="lastName">Last Name</label>
               </div>

               <div class="form-outline mb-4">
                 <input type="email" id="email" formControlName="email"   placeholder="Email Address" class="form-control form-control-lg" />
                 <label class="form-label" for="email">Email Address</label>
               </div>

               <div class="form-outline mb-4">
                 <input type="password" id="password" formControlName="password" id="userpassword"  placeholder="Password" class="form-control form-control-lg" />
                 <label class="form-label" for="password">Password</label>
               </div>
               <div class="form-outline mb-4">
                <input type="password" id="confirmPassword" formControlName="confirmPassword"  placeholder="Confirm Password" class="form-control form-control-lg" />
                <label class="form-label" for="confirmPassword">Confirm Password</label>
              </div>

               <div class="form-check d-flex justify-content-center mb-5">
                 <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3cg" />
                 <label class="form-check-label" for="form2Example3g">
                   I agree all statements in <a href="#!" class="text-body"><u>Terms of service</u></a>
                 </label>
               </div>

               <div class="d-flex justify-content-center">
                 <button type="submit"
                   class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Register</button>
               </div>
               <div class="row"  *ngIf="showMsg">             

                <div class="text-center text-lg-start mt-4 pt-2" *ngIf="showMsg">
                  <p class="alert alert-success"  style="padding-left: 2.5rem; padding-right: 2.5rem;">
                    <strong >Registration Success! </strong>                                        
                </p>  
                </div></div>

               <p class="text-center text-muted mt-5 mb-0">Have already an account? <a href="#!" [routerLink]="['/authentication/login']"
                   class="fw-bold text-body"><u>Login here</u></a></p>

             </form>

           </div>
         </div>
       </div>
     </div>
   </div>
 </div>
</section>