<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-12 col-lg-9 col-xl-7">
        <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
          <div class="card-body p-4 p-md-5">
            <h1 class="mb-4 pb-2 pb-md-0 mb-md-5">Add New Property </h1>
            <form [formGroup]="registerPropertyForm" autocomplete="off" novalidate
              (ngSubmit)="registerProperty(registerPropertyForm.value)">
              <div class="col-md-6 mb-4">

                <div class="form-outline ">
                
                  <input type="text" id="title" class="form-control form-control-lg"
                    formControlName="title" placeholder="Property Title" style="margin-left: 140px; width: 100%;" />

                  
                </div>

              </div>
              <div class="row">
                <div class="col-md-6 mb-4">

                  <div class="form-outline">
                    <input type="text" id="description" class="form-control form-control-lg"
                      formControlName="description" placeholder="Property Description" />

                    <label class="form-label" for="description">Description</label>
                  </div>

                </div>
                <!-- <div *ngIf="registerPropertyForm.controls['description'].invalid && (registerPropertyForm.controls['description'].dirty || registerPropertyForm.controls['useremail'].touched)" class="alert alert-danger">
                  <div *ngIf="registerPropertyForm.controls['description'].errors?.['required']">
                    Description is required.
                  </div>
              </div> -->
                <div class="col-md-6 mb-4">

                  <div class="form-outline">
                    <input type="text" id="availableFrom" class="form-control form-control-lg"
                      formControlName="availableFrom" placeholder="Available From" id="availableFrom" />
                    <label class="form-label" for="availableFrom">Available From</label>
                  </div>

                </div>
                <!-- <div *ngIf="registerPropertyForm.controls['availableFrom'].invalid && (registerPropertyForm.controls['availableFrom'].dirty || registerPropertyForm.controls['useremail'].touched)" class="alert alert-danger">
                  <div *ngIf="registerPropertyForm.controls['availableFrom'].errors?.['required']">
                    Available From is required.
                  </div>
              </div> -->
              </div>

              <div class="row">
                <div class="col-md-6 mb-4 d-flex align-items-center">

                  <div class="form-outline datepicker w-100">
                    <input type="text" class="form-control form-control-lg" id="postedOn" formControlName="postedOn"
                      placeholder="Posted On" required="required" id="postedOn" />
                    <label for="postedOn" class="form-label">Posted On</label>
                  </div>
                </div>
                <!-- <div *ngIf="registerPropertyForm.controls['postedOn'].invalid && (registerPropertyForm.controls['postedOn'].dirty || registerPropertyForm.controls['useremail'].touched)" class="alert alert-danger">
                  <div *ngIf="registerPropertyForm.controls['postedOn'].errors?.['required']">
                    Posted On is required.
                  </div>
              </div> -->
                <div class="col-md-6 mb-4 d-flex align-items-center">

                  <div class="form-outline datepicker w-100">
                    <input type="text" class="form-control form-control-lg" id="propertyCost"
                      formControlName="propertyCost" placeholder="Property Cost" required="required"
                      id="propertyCost"  />
                    <label for="propertyCost" class="form-label">Property Cost</label>
                  </div>
                </div>

              </div>

              <div class="row">
                <div class="col-md-6 mb-4 d-flex align-items-center">

                  <div class="form-outline datepicker w-100">
                    <input type="text" class="form-control form-control-lg" id="builtup" formControlName="builtup"
                      placeholder="Built up" required="required" id="builtup" />
                    <label for="builtup" class="form-label">Built up</label>
                  </div>
                </div>
                <div class="col-md-6 mb-4 d-flex align-items-center">

                  <div class="form-outline datepicker w-100">
                    <input type="text" class="form-control form-control-lg" id="propImgUrl" formControlName="propImgUrl"
                      placeholder="Property Image" required="required" id="propImgUrl" />
                    <label for="propImgUrl" class="form-label">Property Image</label>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6 mb-4 d-flex align-items-center">

                  <div class="form-outline datepicker w-100">
                    <input type="text" class="form-control form-control-lg"  formControlName="deposit"
                      placeholder="Deposit" required="required" id="deposit" />
                    <label for="deposit" class="form-label">Deposit</label>
                  </div>
                </div>
                <div class="col-md-6 mb-4 d-flex align-items-center">

                  <div class="form-outline datepicker w-100">
                    <input type="text" class="form-control form-control-lg" id="downpayment"
                      formControlName="downpayment" placeholder="Down payment" required="required" id="downpayment" />
                    <label for="downpayment" class="form-label">Down payment</label>
                  </div>
                </div>
              </div>
              <div class="row">

                <div class="col-md-6 mb-4 d-flex align-items-center">

                  <div class="form-outline datepicker w-100">
                    <input type="text" class="form-control form-control-lg" id="downpayment"
                      formControlName="houseOwnerName" placeholder="Property Owner Name" required="required"
                      id="houseOwnerName" />
                    <label for="downpayment" class="form-label">Property Owner Name</label>
                  </div>
                </div>

                <div class="col-md-6 mb-4 d-flex align-items-center">

                  <div class="form-outline datepicker w-100">
                    <input type="text" class="form-control form-control-lg" id="ownerContact"
                      formControlName="ownerContact" placeholder="Property Owner Contact" required="required" />
                    <label for="ownerContact" class="form-label">Property Owner Contact</label>
                  </div>
                </div>

              </div>
              <div class="row">
                <div class="col-md-6 mb-4">

                  <h4 class="mb-2 pb-1">Property Type </h4>
                  <!-- (change)="changepropertyType($event)" -->
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="propertyType" id="rental" formControlName="propertyType" 
                      value="Rental" (click)="togglecustomer()" />
                    <label class="form-check-label" for="rental">Rental</label>
                  </div>
                    
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio"  name="propertyType" id="forsale" formControlName="propertyType"
                      value="For Sale" (click)="toggle()"/>
                    <label class="form-check-label" for="forsale">For Sale</label>
                  </div>

            
                </div>
                <div class="col-md-6 mb-4">

                  <h4 class="mb-2 pb-1">Furnished </h4>

                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="furnished" id="semifurnished" formControlName="furnished"
                      value="Semi-furnished"   />
                    <label class="form-check-label" for="semifurnished">Semi-furnished</label>
                  </div>

                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio"  name="furnished" id="unfurnished" formControlName="furnished"
                      value="Unfurnished" />
                    <label class="form-check-label" for="unfurnished">Unfurnished</label>
                  </div>

                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio"  name="furnished" id="fullyfurniashedno" formControlName="furnished"
                      value="Fully-furnished" />
                    <label class="form-check-label" for="fullyfurniashedno">Fully-furnished</label>
                  </div>

                </div>
              </div>
             
              
              <div class="row">
                <h4 class="mb-2 pb-1">Preferred City: </h4>
                <div class="col-md-6 mb-4 d-flex align-items-center">  
                  
                  <select class="select form-control-lg" required name="Cities" (change)="changeCity($event)">   
                      <option value="undefined">Select City</option>  
                      <option *ngFor="let city of cities"  
                              [ngValue]="city.cityName">  
                          {{city.cityName}}  
                      </option>  
                  </select>  
                </div>
               
                <div class="col-md-6 mb-4">

                  <h4 class="mb-2 pb-1">Preferred Customer: </h4>

                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="preferredCustomer" id="nobachelors" formControlName="preferredCustomer"
                      value="No-Bachelors"  />
                    <label class="form-check-label" for="nobachelors">No-Bachelors</label>
                  </div>

                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="preferredCustomer" id="onlyfamily" formControlName="preferredCustomer"
                      value="Only-family" />
                    <label class="form-check-label" for="onlyfamily">Only-family</label>
                  </div>

                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="preferredCustomer" id="all" formControlName="preferredCustomer"
                      value="All" />
                    <label class="form-check-label" for="any">All</label>
                  </div>


                </div>
              </div>


              <div class="row">
              <div class="mt-4 pt-2">
                <input class="btn btn-primary btn-lg" type="submit" value="Submit" [disabled]="!registerPropertyForm.valid"/>
              </div>
              <div class="mt-4 pt-2"  >
                <input class="btn btn-primary btn-lg" type="submit" value="Go Back" [routerLink]="['/home']"/>
              </div>
              </div>
              <!-- <div class="mt-4 pt-2">
                <p class="small fw-bold mt-2 pt-1 mb-0"><a href="#!" [routerLink]="['/authentication/login']"
                  class="link-danger">Please click here to login!</a></p>
              </div> -->
              <div class="row"  *ngIf="showMsg">             

                <div class="text-center text-lg-start mt-4 pt-2" *ngIf="showMsg">
                  <p class="alert alert-success"  style="padding-left: 2.5rem; padding-right: 2.5rem;">
                    <strong >Registration Success! </strong>                                        
                </p>  
                 
                  <p class="small fw-bold mt-2 pt-1 mb-0"><a href="#!" [routerLink]="['/authentication/login']"
                      class="link-danger">Please click here to login!</a></p>
                </div>
      
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>