<div class="filter">
    <mat-checkbox class="example-margin" [(ngModel)]="rent" (change)="rental(rent)">Rental</mat-checkbox>
    <mat-checkbox class="example-margin" [(ngModel)]="forSale" (change)="sale(forSale)">For Sale</mat-checkbox>
    <mat-checkbox class="example-margin" [(ngModel)]="furnished" (change)="furnish(furnished)">Furnished</mat-checkbox>
    <mat-checkbox class="example-margin" [(ngModel)]="semiFurnished" (change)="semiFurnish(semiFurnished)">Semi Furnished</mat-checkbox>
    <mat-checkbox class="example-margin" [(ngModel)]="unFurnished" (change)="unFurnish(unFurnished)">Unfurnished</mat-checkbox>
</div>
