<img class="bg" src="https://images.unsplash.com/photo-1471039497385-b6d6ba609f9c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80" alt="">
<div class="tag">
    <div class="spacing"></div>
    <div>Home per Square</div>
    <button mat-button class="login" [routerLink]="['/authentication/login']" routerLinkActive="active"
    [routerLinkActiveOptions]="{exact: true}" color="accent">User Login</button>
</div>
<div class="top-left">"A new world is rising, find your next space, a perfect home with perfect space. Discover the joy of your own home. <br> - Mi casa su casa"</div>

<!-- <body background-image="/house.jpg” background-repeat="no-repeat” background-size="cover”> -->