<img class="bg" src="/house.jpg" alt="">
<div class="tag">
    <div class="spacing"></div>
    <div>House Search App</div>
    <button mat-button class="login" [routerLink]="['/authentication/login']" routerLinkActive="active"
    [routerLinkActiveOptions]="{exact: true}">User Login</button>
</div>
<div class="top-left">"A new world is rising, find your next space, a perfect home with perfect space. Discover the joy of your own home. <br> - Mi casa su casa"</div>

<!-- <body background-image="/house.jpg” background-repeat="no-repeat” background-size="cover”> -->